@mixin notification {
  border: 2px solid;
  padding: 5px;
  text-align: center;
  margin: 10px auto;
  color: #fff;
  border: 0px solid #fff;
  border-radius: 3px;
}

.alert {
  @include notification;
  background-color: $fail-color;
}

.alert:empty {
  display: none;
}

.notice {
  @include notification;
  background-color: $success-color;
}

.notice:empty {
  display: none;
}
