.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  height: 100%;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 20px;
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}
