header {
  width: 100%;
  background-color: lighten($border-color, 40);
  border-bottom: 1px solid $border-color;
  padding: 10px;

  a {
    text-decoration: none;
    color: $minor-text-color;

    &:hover {
      color: darken($minor-text-color, 20);
    }


    h1 {
      display: inline;
      font-size: 3rem;
      margin: 0;
    }
  }

  .user-panel {
    float: right;
    color: $minor-text-color;
  }
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
}

@media (max-width: 800px) {
  .wrapper {
    width: 100%;
  }
}
