.ping-show {
  .headline {
    color: $minor-text-color;

    .type {
      color: $minor-text-color;
      border: 1px solid $minor-border-color;
      border-radius: 2px;
      padding: 3px;
      background-color: lighten($border-color, 30);
      margin-right: 10px;
      font-size: 2.5rem;
    }

    .url {
      font-size: 2rem;
    }
  }
}
