* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.centered {
  margin: 0 auto;
}

.right {
  float: right;
}

.c3-region {
  fill: red;
}

.panel {
  background-color: lighten($border-color, 40);
  padding: 10px;
  border-radius: 3px;
  margin: 10px;
}

.button.active {
  border: 2px solid #bbb;
  background-color: lighten($border-color, 40);
}
