* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.centered {
  margin: 0 auto;
}

.right {
  float: right;
}

.c3-region {
  fill: red;
}

.panel {
  background-color: lighten($border-color, 40);
  padding: 10px;
  border-radius: 3px;
  margin: 10px;
  &.server {
    padding-bottom: 50px;
    position: relative;

    .slider {
      width: 90%;
      margin: 0 auto;

      .noUi-value.noUi-value-horizontal.noUi-value-large {
        width: 50px;
      }
      .noUi-connect {
        background: #ccc;
      }
    }

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 400px;
      background-color: lighten($border-color, 40);
      z-index: 100500;
      text-align: center;
      padding-top: 150px;

      .icon {
        color: #ccc;
        font-size: 10rem;
      }
    }
  }
}

.button.active {
  border: 2px solid #bbb;
  background-color: lighten($border-color, 40);
}
