<div class="sign-in centered">
  <h3>Sign in</h3>
  <form action="/sign_in" method="post">
    <label>Email:</label>
    <input class="u-full-width" type="text" name="email">
    <label>Password:</label>
    <input class="u-full-width" type="password" name="password">
    <input type="submit">
  </form>
</div>
