<a href="/server/<%= @server.id %>/edit" class="right">Edit</a>
<h3><%= @server.name %></h3>
<p><%= @server.token %></p>
<h3>Last 24h data</h3>
<div id="server_chart" data-id="<%= @server.id %>"></div>
