<h2><%= @project.new_record? ? 'New project' : 'Edit project' %></h2>
<form method="post" action="<%= @project.new_record? ? '/project/new' : "/project/#{@project.id}" %>" data-parsley-validate="true">
  <label>Name:</label>
  <input type="text" name="name" value="<%= @project.name %>">
  <br>
  <input type="submit">
</form>
