<form method="post" action="<%= @ping.new? ? '/pings' : "/ping/#{@ping.id}" %>">
  <label>URL:</label>
  <input type="text" name="url" value="<%= @ping.url %>">
  <input type="hidden" name="http_method" value="GET">
  <input type="hidden" name="is_ping" value="1">
  <input type="submit">
</form>
