<form method="post" action="<%= @check.new_record? ? "/project/#{params[:project_id]}/check/new" : "/check/#{@check.id}" %>" data-parsley-validate>
  <label>Name:</label>
  <input type="text" name="name" value="<%= @check.name %>">
  <br>
  <label>URL:</label>
  <input type="text" name="url" value="<%= @check.url %>" data-parsley-required="true" data-parsley-type="url">
  <br>
  <input type="submit">
</form>

<% if !@check.new_record? %>
  <form method="post" action="<%= "/check/#{@check.id}/delete" %>">
    <input type="submit" value="Delete">
  </form>
<% end %>
