<div class="check-show">
  <div class="headline">
    <h2><%= @check.name %></h2>
    <span class="url"><%= @check.url %></span>
    <a class="button right" href="/check/<%= @check.id %>/edit">Edit</a>
  </div>
  <div id="chart"></div>
</div>
