<html>
  <head>
    <title>Observer</title>

    <%= assets_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="alert"><%= alert %></div>
      <div class="notice"><%= notice %></div>
      <%= yield %>
    </div>
  </body>
</html>
